@media (max-width: 1120px) {
    .header {
        margin-bottom: 40px;
    }

    .mainContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .info {
        margin-bottom: 40px;
        max-width: 810px;
    }
    .info-text {
        padding-left: 20px;
        max-width: 530px;
    }
}

@media (max-width: 850px) {
    .mainContainer {
        width: 90vw;
    }
    .info-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }
    .info-title {
        justify-self: center;
        padding-top: 10px;
        padding-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .cotacao {
        width: 140px;
        height: 85px;
    }
    .cotacao h3 {
        font-size: 20px;
    }
    .cotacao span {
        font-size: 18px;
    }

    .info-title {
        font-size: 25px;
    }
    .info-valores {
        font-size: 18px;
    }
    .info-valores span {
        font-size: 20px;
    }
    .info-text {
        font-size: 15px;
    }
}

@media (max-width: 335px) {
    .mainContainer {
        width: 100vw;
    }
}